
@{
    ViewBag.Title = "About";
}
<!-- borrowed from: http://bootsnipp.com/snippets/featured/call-to-action-with-dark-background-->
<div class="container">
    <div class="col-sm-12">
        <div class="bs-calltoaction bs-calltoaction-default">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Join Us</h1>
                    <div class="cta-desc">
                        <p>The Coding Club is a student organization that receives and builds projects for real world clients</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

