
@{
    ViewBag.Title = "About";
}
<!-- borrowed from: http://bootsnipp.com/snippets/featured/call-to-action-with-dark-background-->
<div class="container">
    <div class="col-sm-12">
        <div class="bs-calltoaction bs-calltoaction-default">
            <div class="row">
                <div class="col-md-9 cta-contents">
                    <h1 class="cta-title">Quizzing is fun!</h1>
                    <div class="cta-desc">
                        <p>Sharpen your skills!</p>
                        <p>Know your stuff!</p>
                        <p>Embarrass your peers!</p>
                    </div>
                </div>
                <div class="col-md-3 cta-button">
                    <a href="~/Quiz/Index" class="btn btn-lg btn-block btn-default">Go for It!</a>
                </div>
            </div>
        </div>
    </div>
</div>

