
@{
    ViewBag.Title = "Quiz Program Landing Page";
}
<div class="jumbotron">
    <h2>Quiz Program</h2>
    <p>A quiz program for class participation and learning.</p>
    <p><a class="btn btn-primary btn-lg" href="~/Quiz/Index" role="button">Start Quizzing!</a></p>
</div>
